- if devise_mapping.omniauthable?
  .social_login
    %ul
      - resource_class.omniauth_providers.each do |provider|
        - if current_user and current_user.authorizations.pluck(:provider).include?(provider.to_s)
          %li
            = "#{provider.to_s.titleize} connected"
        - else
          %li
            = link_to omniauth_authorize_path(resource_name, provider), class: "btn-auth omn-btn-#{provider}" do
              Sign in with
              %b #{OmniAuth::Utils.camelize(provider)}
