.col-md-12
  %h1 Listing Transactions

  .form-group.filters
    %lable.control-label.col-sm-2
      %b Date From:
    .col-sm-2
      = text_field_tag :date, nil, id: 'date_from',
                                   placeholder: "dd/mm/yyyy",
                                   'data-behaviour' => 'datepicker',
                                   class: 'datepicker'
    %lable.control-label.col-sm-2
      %b Date To:
    .col-sm-2
      = text_field_tag :date, nil, id: 'date_to',
                                   placeholder: "dd/mm/yyyy",
                                   'data-behaviour' => 'datepicker',
                                   class: 'datepicker'

    %lable.control-label.col-sm-4
      = button_tag type: 'submit', style: 'color:#FFFFFF;', class: 'btn btn-default' do
        %i.fa.fa-search.fa-lg


  %p.download-csv
    Download:
    = link_to "CSV", transactions_path(format: "csv")
    |
    = link_to "Excel", transactions_path(format: "xls")
  .datatable
    %table.table.table-striped.table-bordered.table-hover{ :'data-source' => transactions_url(format: :json) }
      %thead
        %tr
          %th= "Category"
          %th= "Type"
          %th= "Date"
          %th= "Amount"
          %th= "Description"
          %th= "Action"
      %tbody
  - if can? :create, Transaction
    %br
      = link_to 'New Transaction', new_transaction_path, data: { :'remote-target' => '#transactions-form .modal-content' }, class: 'open-transaction-js', id: 'new-transaction', title: "New"

.col-md-12#expenditures
  %h2
    = "Expenditures amount:"
    %span= 0

.col-md-12#current_balance
  %h2
    = "Current balance: "
    %span
    = Figaro.env.currency_code

.col-md-12
  #piechart_3d{:style => "width: 900px; height: 500px;"}
.col-md-12
  #chart_div{:style => "width: 1000px; height: 500px;"}

= content_for :overlay do
  = render "overlays/transactions/form"

