.col-md-12
  %h1 Listing Transactions
  .datatable#transactions
    %table.table.table-striped.table-bordered.table-hover{ :'data-source' => transactions_url(format: :json) }
      %thead
        %tr
          %th= "Category"
          %th= "Type"
          %th= "Date"
          %th= "Amount"
          %th= "Description"
          %th= "Action"
      %tbody
  %br
    = link_to 'New Transaction', new_transaction_path

.col-md-12
  %h2= "Current balance: #{@current_balance}"
.col-md-12
  #piechart_3d{:style => "width: 900px; height: 500px;"}
.col-md-12
  #chart_div{:style => "width: 1000px; height: 500px;"}
