- if cannot? :create, Transaction
  .center.alert.fade.in.alert-info
    %button.close{"data-dismiss" => "alert"}×
    You cann't create more then #{current_user.pricing_plan.quantity_of_transactions} transactions on #{current_user.pricing_plan.name.capitalize} pricing plan.
    Please upgrade your #{ link_to "Pricing plan", pricing_plans_path }

.col-md-12
  %h1 Listing Transactions
  %p.download-csv
    Download:
    = link_to "CSV", transactions_path(format: "csv")
    |
    = link_to "Excel", transactions_path(format: "xls")
  .datatable
    %table.table.table-striped.table-bordered.table-hover{ :'data-source' => transactions_url(format: :json) }
      %thead
        %tr
          %th= "Category"
          %th= "Type"
          %th= "Date"
          %th= "Amount"
          %th= "Description"
          %th= "Action"
      %tbody
  - if can? :create, Transaction
    %br
      = link_to 'New Transaction', new_transaction_path, data: { :'remote-target' => '#transactions-form .modal-content' }, class: 'open-transaction-js', title: "New"

.col-md-12#current_balance
  %h2
    = "Current balance: "
    %span
    = Figaro.env.currency_code

.col-md-12
  #piechart_3d{:style => "width: 900px; height: 500px;"}
.col-md-12
  #chart_div{:style => "width: 1000px; height: 500px;"}

= content_for :overlay do
  = render "overlays/transactions/form"

