.col-md-12
  = search_form_for @q do |f|
    = f.condition_fields do |c|
      = render "condition_fields", f: c
    = link_to_add_fields "Add Condition", f, :condition
    .form-group
      .col-sm-3
        = f.submit "Search", class: 'btn btn-default'

.col-md-12
  %h1 Listing Transactions
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= sort_link @q, :category_name, "Category"
        %th= sort_link @q, :income, "Type"
        %th= sort_link @q, :date, "Date"
        %th= sort_link @q, :amount, "Amount"
        %th= sort_link @q, :description, "Description"
        %th{ colspan: '3'} Action
    %tbody
      = render @transactions
  %br
    = link_to 'New Transaction', new_transaction_path

.col-sm-offset-2
  = paginate @transactions
