.navbar-header
  %button.navbar-toggle.collapsed{"aria-expanded": "false", "data-target": "#bs-example-navbar-collapse-1", "data-toggle": "collapse", type: "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "SaveBudget", root_path, class: 'navbar-brand'
.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li{ class: "#{ 'active' if categories_active?}" }= link_to "Categories", categories_path
    %li{ class: "#{ 'active' if transactions_active?}" }= link_to "Transactions", transactions_path
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li.dropdown
        = link_to "#", class: "dropdown-toggle user-dropdown", "aria-expanded": "false", "aria-haspopup": "true", "data-toggle":"dropdown", role: "button" do
          .row
            .col-xs-3
              %img.profile-pic.media-object.pull-left.img-rounded{"data-name": current_user.first_name}
            .col-xs-9
              = current_user.full_name
              %br
              %small= current_user.email
              %span.caret
        %ul.dropdown-menu
          %li
            = link_to "Sign out", destroy_user_session_path, :method => :delete
    - else
      %li
        = link_to "Sign In", new_user_session_path
