!!!
%html
  %head
    %title Budget
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body{ body_attributes }
    - if user_signed_in?
      %nav.navbar.navbar-default
        .container-fluid
          = render 'layouts/navbar'

    .container
      #flash_message
        - flash.each do |name, msg|
          %div{ class: "center alert fade in alert-#{ name }" }
            %button.close{ "data-dismiss" => "alert" }×
            = content_tag :div, msg, id: "flash_#{name}"
      = yield
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
  = javascript_include_tag 'application'
  = yield :overlay
