!!!
%html
  %head
    %title Budget
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        = render 'layouts/navbar'

    #container
      #user_notices
        - if user_signed_in?
          Signed in as #{current_user.email}.
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      = yield
  = javascript_include_tag 'application'
