!!!
%html
  %head
    %title Budget
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    - if user_signed_in?
      %nav.navbar.navbar-default
        .container-fluid
          = render 'layouts/navbar'

    #container
      #user_notices
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      = yield
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
  = javascript_include_tag 'application'
